<div>
  <span><img src="image/{{udetail.profilePicture}}"
             alt="{{udetail.profilePicture}}"></span>
  <span style = "font-size:40px">Welcome {{udetail.name}}</span>
  <div class="container" style = "font-size:20px">
    <form class="form-horizontal">
      <div class="form-group">
      <label class="control-label col-sm-2" style="text-align: left;">Email</label>
        <div class="col-md-10">
          <p class="form-control-static">: {{udetail.loginDetail.email}}</p>
        </div>
      </div>

      <div class="form-group">
      <label class="control-label col-sm-2" style="text-align: left;">Name</label>
        <div class="col-md-10">
          <p class="form-control-static">: {{udetail.name}}</p>
        </div>
      </div>

      <div class="form-group">
      <label class="control-label col-sm-2" style="text-align: left;">DateOfBirth</label>
        <div class="col-md-10">
          <p class="form-control-static">: {{udetail.dateOfBirth}}</p>
        </div>
      </div>

      <div class="form-group">
      <label class="control-label col-sm-2" style="text-align: left;">Gender</label>
        <div class="col-md-10">
          <p class="form-control-static">: {{udetail.gender}}</p>
        </div>
      </div>

      <div class="form-group">
      <label class="control-label col-sm-2" style="text-align: left;">PhoneNumber</label>
        <div class="col-md-10">
          <p class="form-control-static">: {{udetail.phoneNumber}}</p>
        </div>
      </div>

      <div class="form-group">
      <label class="control-label col-sm-2" style="text-align: left;">SchoolName</label>
        <div class="col-md-10">
          <p class="form-control-static">: {{udetail.schoolName}}</p>
        </div>
      </div>

      <div class="form-group">
      <label class="control-label col-sm-2" style="text-align: left;">CollegeName</label>
        <div class="col-md-10">
          <p class="form-control-static">: {{udetail.collegeName}}</p>
        </div>
      </div>

      <div class="form-group">
      <label class="control-label col-sm-2" style="text-align: left;">WorkingStatus</label>
        <div class="col-md-10">
          <p class="form-control-static">: {{udetail.workingStatus}}</p>
        </div>
      </div>

      <div class="form-group">
      <label class="control-label col-sm-2" style="text-align: left;">RelationshipStatus</label>
        <div class="col-md-10">
          <p class="form-control-static">: {{udetail.relationshipStatus}}</p>
        </div>
      </div>

      <div class="form-group">
      <label class="control-label col-sm-2" style="text-align: left;">Country</label>
        <div class="col-md-10">
          <p class="form-control-static">: {{udetail.country}}</p>
        </div>
      </div>

      <div class="form-group">
      <label class="control-label col-sm-2" style="text-align: left;">HomeTown</label>
        <div class="col-md-10">
          <p class="form-control-static">: {{udetail.homeTown}}</p>
        </div>
      </div>

      <div class="form-group">
      <label class="control-label col-sm-2" style="text-align: left;">LanguageKnown</label>
        <div class="col-md-10">
          <p class="form-control-static">: {{udetail.languageKnown}}</p>
        </div>
      </div>
    </form>
  </div>
</div>
